/*Cards*/
.cards {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 25px;
}

.card {
    width: 370px;
    height: 507px;
    padding: 48px 40px;
    background: var(--color-bg);
    border: 1px solid var(--color-bg);
    border-radius: var(--border-8);
    box-shadow: var(--shadow)
}

.card__top {
    color: var(--color-text);
    font-size: 32px;
    font-weight: 800;
    line-height: 120%;
    padding-top: 45px;
    margin: 0 0 16px 0;
}

.top2 {
    padding: 0;
}

.card__text {
    color: var(--color-text2);
    font-size: 17px;
    font-weight: 500;
    line-height: 140%;
    margin: 0 0 50px 0;
}

.costs {
    display: grid;
    grid-template:
'sum cost';
'sum2 cost2';
'sum3 cost3';
    gap: 16px 0;
    margin-bottom: 40px;
    color: var(--color-text3);
    font-size: 17px;
    font-weight: 500;
    line-height: 120%;
    align-items: baseline;
}

.sum, .cost {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--color-line);
}

.card__benefit {
    display: inline-flex;
    padding: 4px 16px;
    border: 1px solid var(--color-benefit1);
    background: var(--color-benefit1);
    border-radius: var(--border-8);
    margin-bottom: 14px;
    color: var(--color-text1);
    font-size: 15px;
    font-weight: 800;
    line-height: 140%;
}

.cost_yellow {
    border: 1px solid var(--color-benefit2);
    background: var(--color-benefit2);
    color: var(--color-text1);
    padding: 8px 16px;
    display: inline-flex;
    border-radius: var(--border-8);
    box-sizing: content-box;
}

.text3 {
    margin-bottom: 20px;
}

.card__3rd {
    background: var(--color-primary);
}


.top3 {
    color: var(--color-text1);
}

.text3 {
    color: var(--color-text4);
}

.costs_3rd {
    color: var(--color-text1);
}

.sum1, .cost1 {
    padding-bottom: 22px;
    border-bottom: 1px solid var(--color-line1);
}

.costs_2nd {
    gap: 8px 0;
}

.cost-yellow {
    padding-bottom: 13px;
}

.sum-yellow {
    padding-bottom: 22px;
}


@media (max-width: 1240px) {
    .cards {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .section-tariffs__top {
        font-size: 36px;
        font-weight: 600;
        line-height: 120%;
        text-align: start;
    }

    .section-tariffs__text {
        width: 328px;
        text-align: start;
    }

    .cards {
        grid-template: repeat(3, 1fr) / 1fr;
    }
}

