/*Header*/

.header {
    background: var(--color-primary);
}

.header__wrapper {
    margin: 0 auto;
    max-width: var(--layout--width);
    display: flex;
    justify-content: space-around;
    padding: 80px 30px;
}

/*Section*/

.section {
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.section-header {
    background: var(--color-primary);
}

.section-header::before {
    content: "";
    background-color: var(--color-bg);
    width: 120%;
    height: 600px;
    transform: rotate(-7.003deg);
    position: absolute;
    bottom: -350px;
    z-index: -1;
}

.section-header__wrapper {
    max-width: var(--layout--width);
    padding: 80px 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.tariff-plans {
    background: var(--color-bg);
    display: flex;
    justify-content: center;
    padding: 80px 30px;
}