/*Header*/

.header {
    background: var(--color-primary);
}

.header__wrapper {
    margin: 0 auto;
    max-width: var(--layout--width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 30px;
}

/*Section*/

.section {
    margin: 0 auto;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.section-header {
    background: var(--color-primary);
}

.section-header::before {
    content: "";
    background-color: var(--color-bg);
    width: 120%;
    height: 80%;
    transform: rotate(-7.003deg);
    position: absolute;
    top: 500px;
    z-index: -1;
}

.section-header__wrapper {
    max-width: var(--layout--width);
    padding: 80px 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
    border-bottom: 1px solid var(--color-line);
}

.section-header__top {
    display: flex;
    justify-content: center;
}

.section-header__bottom {
    display: flex;
    gap: 120px;
    justify-content: center;
    color: var(--color-text);
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}

.bottom-parts {
    display: flex;
    gap: 20px;
    max-width: 400px;
    align-items: center;
}

.tariff-plans {
    max-width: var(--layout--width);
    background: var(--color-bg);
    display: flex;
    justify-content: center;
    padding: 80px 30px;
}

.main-text {
    max-width: var(--layout--width);
    background: var(--color-bg);
    display: flex;
    justify-content: center;
    padding: 80px 30px;
}

.text-top {
    color: var(--color-text);
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
}

.text-bottom {
    color: var(--color-text2);
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
}

.parts-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main-text-parts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    align-items: center;
    padding: 80px 80px;
    border-bottom: 1px solid var(--color-line);
}

.part1 {
    padding-top: 0;
}

.part4 {
    padding-bottom: 0;
    border: none;
}

.main-text-blue {
    background: var(--color-primary);
    color: var(--color-text1);
}

.main-text-blue__wrapper {
    max-width: var(--layout--width);
    padding: 80px 150px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.main-text-blue-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.main-text-blue-heading {
    font-size: 48px;
    font-weight: 600;
    line-height: 120%;
}

.main-text-blue-middle {
    color: var(--color-text5);
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 16px;
    text-align: center;
}

.lists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    padding: 0 110px;
}

.list-heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 24px;
}

.list {
    color: var(--color-text5);
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
}

.list li {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}


.list-excel, .list-finio {
    padding: 0;
}

.list-excel li::before {
    content: "";
    background-image: url("../images/exclamation-circle.svg");
    background-size: contain;
    width: 24px;
    height: 25px;
    margin-right: 10px;
}

.list-finio li::before {
    content: "";
    background-image: url("../images/check-circle.svg");
    background-size: contain;
    width: 24px;
    height: 25px;
    margin-right: 10px;
}

.main-text-after-blue__wrapper {
    background: var(--color-bg);
    max-width: var(--layout--width);
    padding: 80px 30px 0;
    margin: 0 auto;
}

.icon-parts {
    max-width: 80px;
    max-height: 86px;
}

.parts-mid {
    color: #000;
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
}

.parts-bottom {
    color: var(--color-text2);
    font-size: 17px;
    font-weight: 500;
    line-height: 140%;
}

.after-blue-top-parts {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main-text-after-blue-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid var(--color-line);
}

.main-text-after-blue-mid {
    padding: 80px 0 120px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.mid-top {
    color: var(--color-text);
    font-size: 48px;
    font-weight: 600;
    line-height: 120%;
}

.mid-mid {
    color: var(--color-text2);
    font-size: 17px;
    font-weight: 500;
    line-height: 140%;
}

.mid-img {
    padding-top: 16px;
    max-width: 1150px;
}

.main-text-after-blue-bottom {
    background: var(--color-primary);
    border-radius: var(--border-16);
    padding: 0 100px;
    display: flex;
    align-items: center;
    gap: 80px;
    color: var(--color-text1);
}

.bottom-right {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.bottom-right-top {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.blue-place-top {
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
}

.blue-place-text {
    color: var(--color-text5);
    font-size: 17px;
    font-weight: 500;
    line-height: 140%;
}

.parts-img {
    max-width: 32px;
    max-height: 32px;
}

.blue-place-mid-parts {
    display: flex;
    gap: 16px;
    align-items: center;
}

.blue-place-mid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blue-place-bottom {
    color: var(--color-text5);
    font-size: 17px;
    font-weight: 500;
    line-height: 140%;
}

.reviews__wrapper {
    background: var(--color-bg);
    max-width: var(--layout--width);
    padding: 0 30px 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.reviews-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.reviews-part-left {
    background: var(--color-primary);
    border-radius: var(--border-16) 0 0 var(--border-16);
    color: var(--color-text1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
}

.reviews-part-left__wrapper {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.reviews-part-right img {
    border-radius: 0 var(--border-16) var(--border-16) 0;
}

.reviews-part-right {
    max-width: 579px;
    height: auto;
}

.left-top {
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
}

.name-mid {
    font-weight: 600;
}

.left-bottom {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.name-of-reviews {
    color: var(--color-text);
    font-size: 48px;
    font-weight: 600;
    line-height: 120%;
}

.arrow {
    max-width: 100px;
    max-height: 100px;
    position: absolute;
    cursor: pointer;
}

.arrow-left {
    left: 0;
    top: 37%;
}

.arrow-right {
    right: 0;
    top: 37%;
}

.section-footer {
    background: var(--color-bg-bottom);
}

.section-footer__wrapper {
    max-width: var(--layout--width);
    padding: 80px 30px 40px;
    margin: 0 auto;
    color: var(--color-text7);
    font-size: 17px;
    font-weight: 500;
    line-height: 140%;
}

.footer-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 120px;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--color-line2);
}

.footer-menu-parts-logo {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-menu-parts {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-menu-links {
    color: var(--color-text6);
    font-size: 17px;
    font-weight: 500;
    line-height: 140%;
}

.footer-description {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description-logo {
    display: flex;
    gap: 30px;
}

.header-menu-logo {
    display: none;
}

.section-logo {
    display: none;
    max-width: 56px;
    max-height: 8px;
}