body {
    background: linear-gradient(243deg, #FDC5C5 25.45%, rgba(242, 152, 222, 0.00) 100%), linear-gradient(243deg, #FFA5A5 32.96%, rgba(255, 255, 255, 0.00) 82.03%), #F39494;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1024px;
}

main {
    border-radius: 10px;
    background-color: #FFFEFE;
    width: 582px;
    height: 573px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

h1 {
    color: #333;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

.reg {
    padding-top: 72px;
    margin-bottom: 47px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

h2 {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    border-radius: 5px;
    border: 1px solid #F5F5F5;
    background: #FFF;
}

input {
    background-color: #F5F5F5;
    margin-top: 0;
    border-radius: 5px;
    border: none;
}

button {
    color: #fff;
    background-color: #089FE0;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    text-align: center;
}

label {
    color: #666;
    font-size: 14px;
    font-weight: 400;
}

*::placeholder {
    color: #999;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.container2 {
    width: 70%;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container3 input, #email, button {
    width: 100%;
}

h2, input, button {
    padding: 9px 11px;
}

.container3 {
    display: flex;
    gap: 1px;
}

.container3 div {
    flex-grow: 1
}

.buttonCheck {
    position: relative;
}

.buttonCheck img {
    position: absolute;
    top: 11px;
    left: 348px;
}

.company {
    margin-bottom: 22px;
}

.container4 {
    display: flex;
    flex-direction: column;
    gap: 22px;
}